---
import { getCollection } from "astro:content";

const settings = await getCollection("settings");

const navigation = settings.find((item: any) => item.slug === "navigation");
---

<header class="header">
  <div class="container nav-wrapper">
    <a href="/" class="logo">
      <div class="logo-icon">R</div>

      <div>
        <h2>{navigation.data.logo.title}</h2>
        <p>{navigation.data.logo.subtitle}</p>
      </div>
    </a>

    <nav class="nav">
      {
        navigation.data.menu.map((item: any) => (
          <a href={item.link}>{item.label}</a>
        ))
      }
    </nav>

    <a href={navigation.data.button.link} class="btn">
      {navigation.data.button.label}
    </a>
  </div>
</header>
